@font-face{
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face{
    src: url("../fonts/Montserrat-Black.ttf");
}

@font-face{
    src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face{
    src: url("../fonts/Montserrat-SemiBold.ttf");
}

@font-face{
    src: url("../fonts/Montserrat-ExtraLight.ttf");
}

@font-face{
    src: url("../fonts/Montserrat-Light.ttf");
}

@font-face{
    src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face{
    src: url("../fonts/Hustle-Hardcore.ttf");
}

@font-face{
    src:url("../fonts/JosefinSans-Regular.ttf");
}

@font-face{
    src:url("../fonts/JosefinSans-SemiBold.ttf");
}

#maintitle {
    /*-fx-font-family: "Montserrat Black";*/
    -fx-font-family: "Josefin Sans SemiBold";
    -fx-font-size: 9em;
    /*-fx-effect: dropshadow(gaussian, black, 30, 0.0, 2, 2)*/
}

#authorsSubtitle {
    -fx-font-family: "Montserrat Light";
    -fx-font-size: 2.3em;
    -fx-text-fill: white;
}

.root {
    -fx-background-image: url('../assets/main_scene_backgound.png');
    -fx-background-color: black;
    -fx-background-size: cover, auto;
    -fx-font-size: 12px; /*This is the default size*/
}

#GradientPane {
    -fx-background-color: linear-gradient(to left, #000000BB, #00000055 40%, #00000000 60%);
}

#VerticalGradientPane {
    -fx-background-color: linear-gradient(to top, #000000FF, #00000088 60%, #00000000 100%);
}

#DarkenPane {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.h1 {
    -fx-font-family: "Josefin Sans SemiBold";
    -fx-font-size: 2.7em;
    -fx-text-fill: white;
}

.h3 {
    -fx-font-family: "Montserrat";
    -fx-font-size: 2em;
    -fx-text-fill: white;
}

.h4 {
    -fx-font-family: "Montserrat ExtraLight";
    -fx-font-size: 1.5em;
    -fx-text-fill: white;
}

.normal-text {
    -fx-font-family: "Montserrat ExtraLight";
    -fx-font-size: 1.7em;
    -fx-text-fill: white;
}

.error-message {
    -fx-font-family: "Montserrat SemiBold";
    -fx-font-size: 1.5em;
    -fx-text-fill: white;
}

.text-field {
    -fx-border-color: white;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: "Josefin Sans SemiBold";
    -fx-font-size: 2em;
}

.text-area *.text {
    -fx-text-alignment: center;
}

.text-area {
    -fx-background-color: transparent;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content {
    -fx-background-color: transparent;
}
.bigbutton {
    -fx-background-color: #FFFFFF44;
    -fx-font-family: "Montserrat Light";
    -fx-font-size: 2em;
    -fx-text-fill: white;
}

.bigbutton:hover {
    -fx-background-color: #4D7A97;
}

.bigbutton:pressed {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: black;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.scroll-pane {
    -fx-background-color: #FFFFFF44;
}

.scroll-bar:vertical {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .thumb{
    -fx-background-color: white;
}

.test1 {
    -fx-background-color: magenta;
}

.test2 {
    -fx-background-color: blue;
}
