#blur-pane {
    -fx-background-image: url('../assets/main_scene_backgound.png');
    -fx-background-size: cover, auto;
}

#darken-pane {
    -fx-background-color: #00000055;
}

#credit-text {
    -fx-background-color: #00000055;
    -fx-font-family: "Montserrat Light";
    -fx-font-size: 2.2em;
    -fx-text-fill: white;
}
