.titlebutton {
    -fx-background-color: #FFFFFF44;
    -fx-font-family: "Montserrat Light";
    -fx-font-size: 3em;
    -fx-text-fill: white;
}

.titlebutton:hover {
    -fx-background-color: #4D7A97;
}

.titlebutton:pressed {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: black;
}
