.root {
    -fx-background-image: url('../assets/MainSceneBackground.png');
    -fx-background-size: cover, auto;
}

#GradientPane {
    -fx-background-color: linear-gradient(to left, #000000BB, #00000022 40%, #00000000 60%);
}

.titlebutton {
    -fx-background-color: #FFFFFF44;
    -fx-font-family: "Montserrat Light";
    -fx-font-size: 3em;
    -fx-text-fill: white;
}

.titlebutton:hover {
    -fx-background-color: #4D7A97;
}

.titlebutton:pressed {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: black;
}
